.jumbotron {
  padding-top: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
html{
    height: 100vh;
    overflow: hidden;
}

.font-weight-normal{
    padding-top: 2px;
}
.dropdownmenu .dropdown-item .dropdown-item-end{
    width: 80%;
}
.nav3{
    background-color: #f5f5f5;
    padding-right: 0px;
}
.fixed-top{
    height: 66px;
    margin-top: -1px;
    margin-bottom: 0px
}
#dropdownMenuButton1{
    position: relative;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
  }
}
.carousel {
    margin-top: 0px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 95%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page0{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.head_nav{
    min-width: 520px;
    border-bottom: 1px solid lightgray;
}
.aside{
    padding-top: 20px !important;
    height: 100%;
    border-right: 3px solid #0d6efd;
    min-width: 155px;
    max-width: 190px;
}
.asidelink {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s ease;
    margin-bottom: 16px;
}

.asidelink:hover {
    border: 2px solid #0d6efd;
}

.asideul {
    height: 100%;
    display: flex;
    margin-right: 5px;
    font-size: 80%
}
.wec{
    height: 80%;
    text-align: center;
    margin: 2px;
    transition: all 0.2s ease;
}
.wec:hover{
    color: #0dcdfd;
}
.weali{
    bottom: 0;
    margin-top: auto;
    margin-bottom: 40px;
    border-top: 2px solid #0d6efd;
}
.weather{
    padding: 5px;
    padding-bottom: 16px;
}
.img-main{
    height: 22px !important;
    width: 22px !important;
}
.showsection{
    text-align: center;
    width: 50px;
    width: 100%;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.cty{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.navbar-header{
    margin-right: 6px;
}
.svg1{
    padding-bottom: 2px;
}

.btnd{
    width: 120%;
}

.dropdown, .nav3, #searcharea, .searchform, .btns, .p1{
    border-radius: 5px;
    background-color: transparent;
}

.person{
    padding-bottom: 2px;
    font-size: 120%;
}
.sd0{
    transition: all 0.3s ease;
    will-change: transform;
}

.a1 {
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    text-decoration-line: none;
    transition: all 0.2s ease;
    will-change: transform;
    transform: perspective(1px);
}
.cardview, .cty{
    background-color: #f3f3f3;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 30px;
    border: lightgray 1px solid;
}
.cardview_body{
    background-color: #fff;
}
.a1:hover, .active {
    background-color: #0d6efd;
    color: white;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 110%;
}
.active {
    text-decoration-line: none;
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    
}


.mcr-head {
    border-bottom: #0d6efd solid 2px;
    margin: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mcr-cont {
    margin: 12px;
    padding-bottom: 20px;
}
.mcr-inval{
    height: 26px;
    background-color: #f3f3f3;
}

#mcr-manage0,
#mcr-manage1,
#mcr-manage2,
#mcr-manage3, 
#mcr-manage4,
#mcr-manage5,
#mcr-manage6,
#mcr-manage7 {
    display: flex;
    flex-wrap: wrap;
    /* 允许换行 */
}

.checkbox-wrapper {
    flex: 0 0 12.5%;
    /* 每个复选框占据 25% 的宽度 (4 个在同一行) */
    box-sizing: border-box;
    /* 包括边框和内边距在内的宽度 */
    padding: 5px;
    /* 适当的内边距 */
}
.accordion-header{
    padding-bottom: 10px;
}
.mcr-p{
    margin-top: auto !important;
    margin-bottom: auto !important;
    text-decoration: underline;
    padding-left: 4px;
    padding-right: 4px;
    display: inline;
    font-weight: bold;
}
.mcr-mein{
    margin-left: 8px;
    margin-right: 8px;
    padding-right: 0;
}
.xmin-mcr{
    margin-top: 4px;
    padding-right: 0px;
    margin-right: 0px;
}
.btn-grp-check{
    margin-bottom: 1px;
}
body{
    padding-bottom: 40px;
}